In [1]:
import pandas as pd

In [2]:
car=pd.read_csv("car data.csv")

In [4]:
car.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
car.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Driven_kms',
       'Fuel_Type', 'Selling_type', 'Transmission', 'Owner'],
      dtype='object')

In [162]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [163]:
car.groupby('Car_Name').size()

Car_Name
800                   1
Activa 3g             2
Activa 4g             1
Bajaj  ct 100         1
Bajaj Avenger 150     1
                     ..
sx4                   6
verna                14
vitara brezza         1
wagon r               4
xcent                 3
Length: 98, dtype: int64

In [164]:
car.Selling_Price.max()

35.0

In [165]:
car.Selling_Price.min()

0.1

In [166]:
car.Car_Name.unique()

array(['ritz', 'sx4', 'ciaz', 'wagon r', 'swift', 'vitara brezza',
       's cross', 'alto 800', 'ertiga', 'dzire', 'alto k10', 'ignis',
       '800', 'baleno', 'omni', 'fortuner', 'innova', 'corolla altis',
       'etios cross', 'etios g', 'etios liva', 'corolla', 'etios gd',
       'camry', 'land cruiser', 'Royal Enfield Thunder 500',
       'UM Renegade Mojave', 'KTM RC200', 'Bajaj Dominar 400',
       'Royal Enfield Classic 350', 'KTM RC390', 'Hyosung GT250R',
       'Royal Enfield Thunder 350', 'KTM 390 Duke ',
       'Mahindra Mojo XT300', 'Bajaj Pulsar RS200',
       'Royal Enfield Bullet 350', 'Royal Enfield Classic 500',
       'Bajaj Avenger 220', 'Bajaj Avenger 150', 'Honda CB Hornet 160R',
       'Yamaha FZ S V 2.0', 'Yamaha FZ 16', 'TVS Apache RTR 160',
       'Bajaj Pulsar 150', 'Honda CBR 150', 'Hero Extreme',
       'Bajaj Avenger 220 dtsi', 'Bajaj Avenger 150 street',
       'Yamaha FZ  v 2.0', 'Bajaj Pulsar  NS 200', 'Bajaj Pulsar 220 F',
       'TVS Apache RTR 180', 'Hero Passion X pro', 'Bajaj Pulsar NS 200',
       'Yamaha Fazer ', 'Honda Activa 4G', 'TVS Sport ',
       'Honda Dream Yuga ', 'Bajaj Avenger Street 220',
       'Hero Splender iSmart', 'Activa 3g', 'Hero Passion Pro',
       'Honda CB Trigger', 'Yamaha FZ S ', 'Bajaj Pulsar 135 LS',
       'Activa 4g', 'Honda CB Unicorn', 'Hero Honda CBZ extreme',
       'Honda Karizma', 'Honda Activa 125', 'TVS Jupyter',
       'Hero Honda Passion Pro', 'Hero Splender Plus', 'Honda CB Shine',
       'Bajaj Discover 100', 'Suzuki Access 125', 'TVS Wego',
       'Honda CB twister', 'Hero Glamour', 'Hero Super Splendor',
       'Bajaj Discover 125', 'Hero Hunk', 'Hero  Ignitor Disc',
       'Hero  CBZ Xtreme', 'Bajaj  ct 100', 'i20', 'grand i10', 'i10',
       'eon', 'xcent', 'elantra', 'creta', 'verna', 'city', 'brio',
       'amaze', 'jazz'], dtype=object)

In [167]:
car.Selling_type.unique()

array(['Dealer', 'Individual'], dtype=object)

In [168]:
car.Transmission.unique()

array(['Manual', 'Automatic'], dtype=object)

In [169]:
y=car['Selling_Price']

In [170]:
x=car.drop(['Selling_Price','Car_Name','Year'],axis=1)

In [171]:
x=pd.get_dummies(x,drop_first=True)

In [172]:
x

,Present_Price,Driven_kms,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Individual,Transmission_Manual
0,5.59,27000,0,False,True,False,True
1,9.54,43000,0,True,False,False,True
2,9.85,6900,0,False,True,False,True
3,4.15,5200,0,False,True,False,True
4,6.87,42450,0,True,False,False,True
...,...,...,...,...,...,...,...
296,11.60,33988,0,True,False,False,True
297,5.90,60000,0,False,True,False,True
298,11.00,87934,0,False,True,False,True
299,12.50,9000,0,True,False,False,True
300,5.90,5464,0,False,True,False,True

In [173]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2529)

In [174]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((210, 7), (91, 7), (210,), (91,))

In [175]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [176]:
model.fit(x_train,y_train)

LinearRegression()

In [177]:
model.intercept_

2.4590123128553056

In [178]:
model.coef_

array([ 4.55397800e-01, -1.82093729e-05, -1.37058345e+00,  2.05241786e+00,
        1.47002546e-01, -9.79997087e-01, -8.80554377e-01])

In [179]:
y_pred = model.predict(x_test)

In [180]:
y_pred

array([ 3.70468016e-01,  3.27400917e+00,  1.00053847e+00,  2.71319990e+00,
        4.60490209e+00,  3.75623137e+00,  6.48196028e+00,  2.09012362e+01,
        4.23943144e+00,  2.00316945e+01,  4.18028349e+00,  1.15459968e+01,
        4.19280468e+00,  5.35856932e-02,  7.36446986e-01,  7.36512377e-01,
        5.98647080e+00,  9.10644741e+00,  1.10533882e+00,  7.19236777e+00,
       -7.57015400e-01,  7.45692263e-01,  8.73929386e-01,  3.93112110e+00,
        8.30720869e-01,  3.63797399e+00,  3.52710988e+00,  4.56815077e+00,
        5.68162320e-01,  4.34221286e+00,  3.62477665e+00,  7.01637762e+00,
        3.32601555e+00,  8.99465012e-01,  4.23055381e+00,  1.09623413e+00,
        2.53862639e-01,  9.06857401e+00,  3.92541112e+00,  7.76161502e+00,
        5.73049169e+00,  5.33228953e+00,  1.58008397e+01,  6.85952840e+00,
        5.01275808e+00,  1.46221842e+00,  1.44856957e+00,  5.47796451e+00,
        7.71893165e+00,  4.49294151e+00,  6.18620020e+00,  3.49541950e-01,
        6.86438236e-01,  7.26526411e+00,  4.63312931e-01,  5.24618590e+00,
        4.14890892e+00,  4.43803810e+01,  1.34023973e+00,  3.63370805e+00,
        8.13988854e-01,  1.08703136e+00,  3.41026991e+00,  7.76161502e+00,
        3.52463075e-03,  1.50128944e+01,  1.77227819e+01,  7.52227042e+00,
        4.76550104e+00,  1.02329202e+00,  5.13956189e+00,  5.05901815e+00,
       -1.14846102e-01,  6.77349897e-01,  5.20140905e+00,  3.51525557e+00,
        4.90924897e+00,  7.09129657e-01,  1.48323399e+00,  1.03695068e+00,
        1.27013855e+00,  9.32271309e-01,  6.46775697e+00,  2.96540771e+00,
        8.29459011e+00,  8.85925450e+00,  7.91120878e-01,  5.26154649e+00,
        7.32305176e+00,  7.31020362e+00,  7.01935584e+00])

In [181]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [182]:
mean_absolute_error(y_test,y_pred)

1.248914288904761

In [183]:
mean_absolute_percentage_error(y_test,y_pred)

0.4623667553014364

In [184]:
mean_squared_error(y_test,y_pred)

5.247555519715016